#wrapper .post {
  font-family: "Arial";
  background-color: #fff;
  padding: 10px;
  position: relative;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}
#wrapper .post .btn {
  background-color: #000;
  height: 2px;
}
#wrapper .post img {
  max-width: 500px;
}
#wrapper .post a {
  color: #6e7173;
  text-decoration: none;
}
#wrapper .post .activeind {
  width: 845px;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  border-left: 8px solid #f00;
  border-right: 8px solid #f00;
  opacity: 0.0;
  pointer-events: none;
}
#wrapper .post .panel-heading {
  font-size: 0.95em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0px;
  margin-bottom: 12px;
  display: inherit;
  border: 0px;
}
#wrapper .post .panel-heading .notecount {
  position: absolute;
  line-height: 24px;
  top: 15px;
  left: 15px;
  padding: 10px 10px 10px 10px;
  background-color: #000;
  color: #fff;
  border: 1px none;
  opacity: .65;
  font-size: .90em;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
#wrapper .post .panel-heading .notecount:hover {
  opacity: 1.0;
}
#wrapper .post .btn-group-vertical {
  position: absolute;
  text-align: left;
  left: 845px;
  top: 0px;
  background: none;
}
#wrapper .post .btn-group-vertical a.btn {
  background-color: #000;
  width: 44px;
  margin-bottom: 6px;
  border: 0px none;
  padding: 10px 10px;
  font-size: .90em;
  line-height: 24px;
  color: #fff;
  opacity: .65;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  overflow: hidden;
}
#wrapper .post .btn-group-vertical a.btn:hover,
#wrapper .post .btn-group-vertical a.btn:active {
  opacity: 1.0;
}
#wrapper .post .btn-group-vertical a.btn #reblog {
  background: url("/images/dashboard_master_sprite.png?4") no-repeat scroll -498px -270px transparent;
  width: 24px;
  height: 20px;
  margin-left: 1px;
  margin-right: 12px;
  float: left;
}
#wrapper .post .btn-group-vertical a.btn #comment {
  background: url("/images/dashboard_master_sprite.png?4") no-repeat scroll -500px -242px transparent;
  height: 20px;
  width: 24px;
  margin-left: 3px;
  margin-right: 12px;
  float: left;
}
#wrapper .post .btn-group-vertical a.btn #perm {
  background: url("http://i.imgur.com/6m5S7.png") no-repeat scroll transparent;
  height: 20px;
  width: 24px;
  margin-left: 2px;
  margin-right: 12px;
  float: left;
}
#wrapper .post .media {
  text-align: center;
  margin-bottom: 10px;
}
#wrapper .post .quote {
  color: #3b627e;
  font-weight: bold;
  padding: 20px 20px 5px 20px;
}
#wrapper .post .quote .bg {
  font-family: georgia, serif;
  font-size: 150px;
  color: #3b627e;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  position: absolute;
  top: 136px;
  left: 10px;
}
#wrapper .post .quote.short {
  font-size: 33px;
  line-height: 35px;
}
#wrapper .post .quote.medium {
  font-size: 25px;
  line-height: 28px;
}
#wrapper .post .quote.long {
  font-size: 18px;
  line-height: 22px;
}
#wrapper .post .quote *:first-child,
#wrapper .post .quote .source *:first-child {
  margin-top: 0px;
}
#wrapper .post .quote *:last-child,
#wrapper .post .quote .source *:last-child {
  margin-bottom: 0px;
}
#wrapper .post .copy {
  color: #6e7173;
  padding: 10px;
  font-size: 13px;
  line-height: 15px;
  font-weight: plain;
}
#wrapper .post .copy a {
  color: #6e7173;
  text-decoration: underline;
}
#wrapper .post .copy p {
  margin: 10px 0 0 0;
  padding: 0;
}
#wrapper .post .copy > p:first-child {
  margin-top: 0;
}
#wrapper .post .copy pre {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #e6e6e6;
  font: normal 11px Courier, monospace;
  overflow: auto;
}
#wrapper .post .copy img {
  max-width: 100%;
}
#wrapper .post .copy blockquote {
  margin: 10px 0px 10px 10px;
  padding-left: 15px;
  border-left: solid 4px #dcdcdc;
}
#wrapper .post .copy blockquote blockquote {
  border-left: solid 4px #cccccc;
}
#wrapper .post .copy blockquote blockquote blockquote {
  border-left: solid 4px #bcbcbc;
}
#wrapper .post .copy blockquote blockquote blockquote blockquote {
  border-left: solid 4px #acacac;
}
#wrapper .post .copy blockquote blockquote blockquote blockquote blockquote {
  border-left: solid 4px #9c9c9c;
}
#wrapper .post .copy blockquote blockquote blockquote blockquote blockquote blockquote {
  border-left: solid 4px #8c8c8c;
}
#wrapper .post .audio {
  background: #eaeaea;
  float: left;
  padding: 7px;
  margin-bottom: 10px;
}
#wrapper .post .audio .player {
  float: left;
}
#wrapper .post .audio .player .audio_player embed {
  border: 1px solid #c8c8c8;
}
#wrapper .post .audio .meta {
  padding: 8px 13px;
  height: 13px;
  float: left;
  color: #666;
  font-family: "Lucida Sans";
  font-size: 11px;
  text-transform: lowercase;
}
#wrapper .post .audio .meta a {
  color: #666;
  text-decoration: none;
}
#wrapper .post .album_art {
  text-align: center;
}
#wrapper .post .album_art img {
  margin-bottom: 10px;
}
#wrapper .post .question {
  color: #494949;
  font-size: 16px;
  font-weight: bold;
  background: #f1f1f1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 0 0 15px 0;
  padding: 15px 20px;
  position: relative;
}
#wrapper .post .question .nipple {
  width: 13px;
  height: 7px;
  background: #f1f1f1 url('http://assets.tumblr.com/themes/redux/ask-mask.png');
  position: absolute;
  bottom: -7px;
  left: 30px;
}
#wrapper .post .asker_container {
  margin: 0 0 20px 24px;
}
#wrapper .post .asker_container img {
  margin: 0 12px -7px 0;
}
#wrapper .post .asker_container a.asker {
  color: #3b627e;
}
#wrapper .post .title {
  color: #494949;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
#wrapper .post .chat {
  background-color: #fff;
  border-left: 10px solid #000;
  margin: 10px 10px 0 10px;
  font-size: 14px;
}
#wrapper .post .chat .lines {
  margin-left: 1px;
}
#wrapper .post .chat .lines .line {
  background-color: #eaeaea;
  color: #494949;
  margin-bottom: 1px;
  padding: 3px 5px;
}
#wrapper .post .chat .lines .line.even {
  background-color: #dedddd;
}
#wrapper .post .link {
  margin: 4px 0 2px 0;
  font-size: 16px;
  line-height: 25px;
}
#wrapper .post .link a {
  background-color: #3b627e;
  color: #fff;
  padding: 5px 5px 5px 5px;
}
#wrapper .post .link a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}
#wrapper .post .panel-footer {
  background: #000;
  font-family: "Lucida Sans";
  font-size: 11px;
  color: #fff;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.4);
}
#wrapper .post .panel-footer .tags a {
  text-decoration: none;
  color: #fff;
}
#wrapper .post .notecontainer {
  background: #eaeaea;
  font-family: "Lucida Sans";
  font-size: 11px;
  color: #666;
  margin-top: 10px;
  margin-bottom: -10px;
}
#wrapper .post .notecontainer a {
  color: #666;
  text-decoration: underline;
}
#wrapper .post .notecontainer ol.notes {
  padding: 0px 0 10px 0;
  list-style-type: none;
  font-size: 11px;
}
#wrapper .post .notecontainer ol.notes li.note {
  padding: 10px 10px 0 10px;
}
#wrapper .post .notecontainer ol.notes li.note img.avatar {
  vertical-align: -4px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
#wrapper .post .notecontainer ol.notes li.note span.action {
  font-weight: normal;
}
#wrapper .post .notecontainer ol.notes li.note .answer_content {
  font-weight: normal;
}
#wrapper .post .notecontainer ol.notes li.note blockquote {
  border-left: 2px solid #666;
  padding: 4px 10px;
  margin: 10px 0px 0px 25px;
}
#wrapper .post .notecontainer ol.notes li.note blockquote a {
  text-decoration: none;
}
#wrapper .post #disqus_thread {
  border-top: 1px solid #E6E6E6;
  margin: 20px 0 0 0;
  padding: 25px 0 0 0;
}
#wrapper .post .post .caption a.disquscomments {
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}
