#header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #fff;
  background: #3f4e55;
  position: fixed;
}
#header .container {
  left: 100px;
  position: absolute;
  padding: 0;
}
#header .brand {
  font-size: 52px;
  font-family: Arial;
  float: left;
  margin-right: 8px;
  line-height: 64px;
}
#header .avatar {
  width: 80px;
  height: 64px;
  top: 0px;
  float: left;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.5) inset, -5px 0px 5px -5px rgba(0, 0, 0, 0.5) inset;
}
#header .avatar img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
#sidebar {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 100%;
  background: #3f4e55;
  border-right: 1px solid #fff;
  position: fixed;
  padding: 0;
  pointer-events: auto;
}
#sidebar ul {
  list-style: none;
  position: absolute;
  top: 120px;
  left: 0px;
  width: 64px;
}
#sidebar ul li {
  width: 64px;
  height: 48px;
  margin-top: -1px;
  padding: 0;
  opacity: .5;
  background-image: url("https://nhydock.github.io/tumblr-themes/vicetheme/assets/sidebarbuttons.png");
  display: block;
}
#sidebar ul li:hover,
#sidebar ul li.active,
#sidebar ul li.active:before {
  opacity: 1.0;
}
#sidebar ul li.active:before {
  width: 64px;
  height: 48px;
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10 5 -5 rgba(0, 0, 0, 0.25) inset, 0 -10 5 -5 rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#sidebar ul li #home {
  background-position: 0px 0px;
}
#sidebar ul li #about {
  background-position: 0px 48px;
}
#sidebar ul li #tags {
  background-position: 0px 96px;
}
#sidebar ul li #blogs {
  background-position: 0px 144px;
}
#sidebar ul li #pages {
  background-position: 0px 192px;
}
.corner {
  background: url("https://nhydock.github.io/tumblr-themes/vicetheme/assets/corner.png");
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  position: fixed;
}
#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  width: 600px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}
#content .post {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
  color: #fff;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#content .post .banner {
  background: #fff;
  right: -10px;
  width: 480px;
  margin-bottom: 15px;
  line-height: 18px;
  padding-top: 2px;
}
#content .post .banner:after {
  width: 10px;
  height: 10px;
  bottom: -10px;
  right: -10px;
  position: absolute;
  background-image: url("https://nhydock.github.io/tumblr-themes/vicetheme/assets/bannertip.png");
}
#content .post .banner label {
  padding: 2px 2px;
  border-radius: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  font-weight: bold;
  float: right;
  margin-right: 5px;
  background: #3f4e55;
  font-size: .9em;
  line-height: .9em;
}
#content .post .controls {
  position: absolute;
  top: 8px;
  right: -144px;
  width: 200px;
}
#content .post .controls li {
  opacity: .5;
  margin-bottom: 10px;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background: #fff;
  vertical-align: center;
  white-space: nowrap;
  overflow: hidden;
}
#content .post .controls li:hover {
  opacity: 1.0;
}
#content .post .controls .icon {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 30px;
  display: inline-block;
  background: url("https://nhydock.github.io/tumblr-themes/vicetheme/assets/postbuttons.png");
}
#content .post .controls .icon #perm {
  background-position: 0px 0px;
}
#content .post .controls .icon #reblog {
  background-position: 0px 24px;
}
#content .post .controls .icon #comment {
  background-position: 0px 48px;
}
#content .post .controls .label {
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  float: left;
  color: #000;
  display: inline-block;
}
